.progress-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin:10px;	
}

.circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ddd;
  margin: 10px;
}

.active {
  background-color: #007bff;
}

button {
  margin: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}
.btn{
	padding-left:240px;
}

button:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}